@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1{
    text-shadow: 8px 8px rgb(255, 0, 191);
    color: rgb(224, 225, 226);
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Lobster', cursive;
    font-size: 75px;

}
html, body{
    
    background: linear-gradient(180deg,#f78fb3 25%, #FFB7D5 35%, #f5bec4 100%);
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    font-family: "Quicksand", sans-serif;
    
    

}
.icon-container {
  position: relative; /* Or absolute if it should be relative to the viewport */
  width: 100px; /* Example width */
  height: 100px; /* Example height */
  display: flex;
}

.top-left-icon {
  position: absolute;
  top: 0;
  left: 0;
  /* Add other styles like width, height, image source, etc. */
  width: 15ch;
  height: 15ch;
  display: flex;
}

.pill-menu{
  justify-self: right;
  display: flex;
}
.pill-menu ul {
  margin: 50px;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 10px 20px;
  background-color: #e7779e; /* cotton candy pink */
  border-radius: 999px;       /* pill shape */
  justify-content: right;
  align-items: center;
  font-size: 20px;
}

.pill-menu li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 999px;        /* pill shape */
  background-color: #e7779e;   /* darker pink */
  font-weight: bold;
  transition: background 0.3s;
}

.pill-menu li a:hover {
  background-color: #ffd1dc;   /* lighter pink on hover */
  color: #d6336c;
}

#chat {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
}

#main {
  flex: 1;
  padding: 10px;
}

#messages {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  
  margin-bottom: 10px;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
ul li:hover {
  background-color: #f0f0f0;
}
