@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1{
    text-shadow: 8px 8px rgb(255, 0, 191);
    color: rgb(224, 225, 226);
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Lobster', cursive;
    font-size: 75px;

}
html, body{
    
    background: linear-gradient(180deg,#f78fb3 25%, #FFB7D5 35%, #f5bec4 100%);
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    font-family: "Quicksand", sans-serif;
    
    

}
.icon-container {
  position: relative; /* Or absolute if it should be relative to the viewport */
  width: 100px; /* Example width */
  height: 100px; /* Example height */
  display: flex;
}

.top-left-icon {
  position: absolute;
  top: 0;
  left: 0;
  /* Add other styles like width, height, image source, etc. */
  width: 15ch;
  height: 15ch;
  display: flex;
}

.pill-menu{
  justify-self: right;
  display: flex;
}
.pill-menu ul {
  margin: 50px;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 10px 20px;
  background-color: #e7779e; /* cotton candy pink */
  border-radius: 999px;       /* pill shape */
  justify-content: right;
  align-items: center;
  font-size: 20px;
}

.pill-menu li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 999px;        /* pill shape */
  background-color: #e7779e;   /* darker pink */
  font-weight: bold;
  transition: background 0.3s;
}

.pill-menu li a:hover {
  background-color: #ffd1dc;   /* lighter pink on hover */
  color: #d6336c;
}

.nicknames{
  margin-top:10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  background-color: rgb(204, 115, 157);
  border-radius: 999px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: rgb(223, 223, 223);
  font-size: 23px;
  
}



.defs a{
  text-align: center;
  justify-content: center;
  
  margin: 4%;
  font-size: 20px;
  letter-spacing:1ch ;
  width: 105%;
  text-decoration: none;
  color: black;
}

#essay{
background-color: #f55d7694;
height: 100%;
}

.defs{
  padding: 0;
  margin: 0%;
  
}

#idea{
  background-color: #f1489d94;
  height: 100%;
  
}
#idea img{
  width: 95%;
  height: 55%;
}

#photos{

  background-color: #f04d769a;
  padding-bottom: 15px;
 
}
#photos img{
  padding-top: 10px;
  width: 80%;
  height: 100%;
}