@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1{
    text-shadow: 8px 8px rgb(255, 0, 191);
    color: rgb(224, 225, 226);
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Lobster', cursive;
    font-size: 50px;

}
h2{
  color: rgb(255, 0, 191);
  font-size: 30px;
}

button, input{
   background-color: #f88ec3;
  color: #f31081;
  border-color: whitesmoke;
}
html, body{
    
    background: linear-gradient(180deg,#f78fb3 25%, #FFB7D5 35%, #f5bec4 100%);
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    font-family: "Quicksand", sans-serif;

}

#authsection{
  justify-self: center;
  text-align: center;
  padding-top: 15%;
}

#signuparea, #signuparea a{
  color: #f31081;
}
